// This config is in the KDL format: https://kdl.dev
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// Startup
spawn-at-startup "waybar"
spawn-at-startup "wl-clipboard"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"

binds {
    Mod+Shift+Z { show-hotkey-overlay; }
    // Keybinds handled with whichkey like leaderkey
    Mod+A hotkey-overlay-title="Which Key" { spawn "wlr-which-key"; }

    Mod+E hotkey-overlay-title="Filemanager: nemo" { spawn "nemo"; }
    Mod+Space hotkey-overlay-title="Run an Application: tofi" { spawn "bash" "-c" "$(tofi-drun)"; }
    Mod+Shift+O hotkey-overlay-title="Rename Workspace (tofi)" { spawn-sh "~/.config/niri/workspace-rename.bash"; }
    Mod+Shift+Q hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Mod+Shift+Ctrl+Q hotkey-overlay-title="Go to sddm: quit niri" { quit; }
    Mod+Ctrl+Q hotkey-overlay-title="Monitor sleep" { power-off-monitors; }

    // pipewire bindings
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

input {
    keyboard {
        xkb {
            layout "de"
            variant "mac"
            options "lv3:lalt_switch"
        }
        repeat-delay 250
        repeat-rate 65
        numlock
    }
}

layout {
    gaps 0
    default-column-width { proportion 1.0; }
    focus-ring {
        off
    }
    border {
        off
    }
    shadow {
        // Uncomment the next line to enable shadows.
    }

    // Cycle between 1/3, 1/2, 2/3 3/3 of the output
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    // Cycle between 1/3, 1/2, 2/3 3/3 of the output
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
}

animations {
    workspace-switch {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}
